<?xml version="1.0"?>
<launch>
<!--======================================================================================
    Launch node for f110 simulator. You can choose bedween tracks depending
    on map your fill in TRACK_folder and TRACK_file.
    -> Change TRACK_file default value for desired track. List of available tracks:
            · Example *
            · Catalunya **
            · Zandvoort ***
            · IMS
            · MoscowRaceway
            · Monza
            · Oschersleben      raceline too tight, isn't good
            · Silverstone       raceline too tight, isn't good. Use centerline!!
            · Blank
    -> Track have centerline and raceline csv
    ======================================================================================-->

    <!--==================================================================raceline================-->
    <arg name   =   "TRACK_folder"          default     =     "Catalunya"/>
    <arg name   =   "LINE"                  default     =     "raceline"/>
    <!--  track settings: -->
    <arg name   =   "TRACK_file"          default     =     "$(arg TRACK_folder)_map"/>
    <arg name   =   "WPTS"           default     =     "$(arg TRACK_folder)"/>
    <!--==================================================================================-->



  <!-- Listen to messages from joysicks 
  <node pkg="joy" name="joy_node" type="joy_node"/>
  -->
  
  <!-- Launch a map from the maps folder-->
  <!-- <arg name="map" default="$(find f1tenth_simulator)/maps/vegas.yaml"/> -->
  <arg name="map" default="$(find f1tenth_simulator)/project_maps/$(arg TRACK_folder)/$(arg TRACK_file).yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

  <!-- Launch the racecar model -->
  <include file="$(find f1tenth_simulator)/launch/racecar_model.launch"/>

  <!-- Begin the simulator with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="f1tenth_simulator" type="simulator" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>

  <!-- Launch the mux node with the parameters from params.yaml 
  <node pkg="f1tenth_simulator" name="mux_controller" type="mux" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>
  -->

  <!-- Launch the behavior controller node with the parameters from params.yaml 
  <node pkg="f1tenth_simulator" name="behavior_controller" type="behavior_controller" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>
  -->

  <!-- Launch the Random Walker Node 
  <node pkg="f1tenth_simulator" name="random_walker" type="random_walk" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>
  -->

  <!-- Launch the Keyboard Node 
  <node pkg="f1tenth_simulator" name="keyboard" type="keyboard" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>
  -->

  <!-- ***Put launch command for new planner here:-->
  <!-- Launch the New Planner Node -->
  <!--   <node pkg="f1tenth_simulator" name="new node's name" type="new file name" output="screen">
          <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  	 </node>    -->

  
  <!-- Launch RVIZ -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find f1tenth_simulator)/launch/simulator.rviz" output="screen"/>


    <!--==================================================================================-->
    

    <param name =   "track"     value="$(arg TRACK_folder)"/>
    <param name =   "map_path"  value="$(arg map)"/>
    <param name =   "wpts_path" value="/home/raqun/Documents/Proyecto_electrico/ackerman-f1tenth-competition/05_-_F1TENTH_ws/src/f1tenth_simulator/project_maps/$(arg WPTS)/$(arg WPTS)_$(arg LINE).csv"/>
    
    <rosparam file  =   "$(find f1tenth_gym_ros)/config/params.yaml" command    =   "load"/>
    <rosparam file  =   "$(arg map)" command    =   "load"/>

    <!--==================================================================================-->





</launch>
